/*
!.gitignore
!.gitattributes
!/.github

# config
!/config
/config/*
!/config/fancymenu
!/config/ftbquests
!/config/packmenu.cfg
!/config/emi.css
!/defaultconfigs
!/kubejs
!/fancymenu_resources
!/resources

# mods
!/mods
/mods/*.jar

# md
!README.md
!CONTRIBUTING.md

# packwiz
!packwiz.exe
!packwiz
!.packwizignore
!index.toml
!pack.toml